html, body {
    margin: 0;
    padding: 0;
}

.body {
    background: linear-gradient(180deg, #FFFFFF 0%, #C4C4C4 100%);
    margin: 0%;
    padding: 0%;
}

.header {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/header.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 200px;
    
}

.inline-items {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: row;
}